:root {
  --ion-color-primary: #1565c0;
  --ion-color-primary-rgb: 21, 101, 192;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #1259a9;
  --ion-color-primary-tint: #2c74c6;

  --ion-color-secondary: #0d47a1;
  --ion-color-secondary-rgb: 13, 71, 161;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #0b3e8e;
  --ion-color-secondary-tint: #2559aa;

  --ion-color-tertiary: #7c4dff;
  --ion-color-tertiary-rgb: 124, 77, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #6d44e0;
  --ion-color-tertiary-tint: #895fff;

  --ion-color-success: #2e7d32;
  --ion-color-success-rgb: 46, 125, 50;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #286e2c;
  --ion-color-success-tint: #438a47;

  --ion-color-warning: #f9a825;
  --ion-color-warning-rgb: 249, 168, 37;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #db9421;
  --ion-color-warning-tint: #fab13b;

  --ion-color-danger: #c62828;
  --ion-color-danger-rgb: 198, 40, 40;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #ae2323;
  --ion-color-danger-tint: #cc3e3e;

  --ion-color-medium: #757575;
  --ion-color-medium-rgb: 117, 117, 117;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #676767;
  --ion-color-medium-tint: #838383;

  --ion-color-light: #f5f5f5;
  --ion-color-light-rgb: 245, 245, 245;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d8d8d8;
  --ion-color-light-tint: #f6f6f6;
}
