<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="dashboard">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Dashboard</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="work-orders">
      <ion-icon name="list-outline"></ion-icon>
      <ion-label>Orders</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="timer">
      <ion-icon name="timer-outline"></ion-icon>
      <ion-label>Timer</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="models">
      <ion-icon name="cube-outline"></ion-icon>
      <ion-label>3D/AR</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="profile">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
